.team-text {
  text-align: center;
}
.reviews {
  margin-top: 50px;
}
.showcases__descr {
  margin-bottom: 50px;
}
.showcase-item__img {
  height: calc(130px + (250 - 130) * ((100vw - 375px) / (1920 - 375)));
}
.showcases .showcase-item__date {
  color: #f5f6f0;
}
.showcase-more_top__content {
  margin-bottom: 50px;
}
.showcase-more_top__content p {
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  display: block;
}
.showcase-more__aboutcase-container {
  max-width: 550px;
}
.showcase-more__aboutcase image {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.showcase-more__aboutcasebox figure {
  width: auto !important;
}
.showcase-more__aboutcasebox .wp-caption-text {
  text-align: center;
  font-style: italic;
}
.showcase__subtitle {
  font-weight: 500;
  font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1920 - 375)));
}
.showcase__subtitle {
  padding-left: calc(44.2233px + 4.20712vw);
  margin-bottom: 15px;
  max-width: 737px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .reviews {
    margin-top: 100px;
  }
  .showcases__descr {
    margin-bottom: 100px;
  }
  .showcase-more_top__content {
    margin-bottom: 100px;
  }
  .showcase-more__aboutcase.column {
    display: flex;
    gap: 20px;
  }
  .showcase-more__aboutcase.column > * {
    flex-basis: 50%;
  }
}

@media (min-width: 1920px) {
  .showcase-item__img {
    height: 250px;
  }
}

.reviews.reviews--size {
  padding-bottom: 0;
}

.wpcf7-response-output {
  color: #fff;
  margin-top: 0 !important;
}
.pagination .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagination .page-numbers.current > .pagination__item {
  background-color: #b81f26;
  color: white;
}
.pagination .pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-numbers:hover > svg > path {
  fill: #b81f26;
}

.blog-article__title a,
.blog-article__item-title a {
  color: #201f1d;
}
.blog-article__title a:hover,
.blog-article__item-title a:hover {
  color: blue;
}
.pagination.showcase {
  grid-column: span 2;
}
/* delete field icons on the single page */
.sfsi_Sicons.sfsi_Sicons_position_left {
  display: none;
}

/* tags  */

.main-tags .main-tags__inner {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  width: fit-content;
  justify-content: center;
  background-color: #b81f26;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.blog.tags {
  margin-bottom: 50px;
}

.tags__contents {
  margin-top: 15px;
}

.blog-article__summary.blog-article__summary--tag {
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .main-tags .main-tags__inner {
    font-size: 36px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mob-nav {
    display: block !important;
  }
}

.blog-article-tags {
  margin-bottom: 50px;
}

@media (min-width: 730px) {
  .blog-article-tags {
    gap: 30px;
    display: flex;
  }
  .picture__inner {
    max-width: 550px;
    width: 100%;
  }
  .tags__contents {
    margin-top: 0;
    max-width: 650px;
  }
}
.lang-switcher-link {
  text-transform: uppercase;
}
.lang-switcher-mobile__link {
  color: white;
}
.lang-switcher-mobile .lang-switcher-mobile__item {
  padding: 10px 15px;
}
.content-none {
  display: flex;
  justify-content: center;
  width: 100%;
}
.mob-nav {
  overflow: hidden;
}
.pagination {
  max-width: 300px;
}
.pagination__items {
  max-width: 300px;
  margin: 0 auto;
}
.modal-form__box.modal-form__box--file {
  position: relative;
  margin-bottom: 35px;
}

.modal-form__box.modal-form__box--file > .wpcf7-form-control-wrap {
  position: absolute;
  height: 50px;
  width: 320px;
  right: 0;
  bottom: -15px;
}

@media (min-width: 1024px) {
  .modal-form__box.modal-form__box--file > .wpcf7-form-control-wrap {
    width: 375px;
    bottom: -8px;
  }
}

.dialog-content .modal-form__box.modal-form__box--file .wpcf7-form-control-wrap {
  height: 30px;
  width: 270px;
  right: 0px;
  bottom: -25px;
}

@media (min-width: 540px) {
  .dialog-content .modal-form__box.modal-form__box--file .wpcf7-form-control-wrap {
    width: 320px;
    height: 25px;
  }
}

@media (min-width: 1024px) {
  .dialog-content .modal-form__box.modal-form__box--file .wpcf7-form-control-wrap {
    width: 375px;
    height: 25px;
  }
}

/*action */
.title.action__item-title {
  line-height: 1.1;
}

.action__item:last-child {
  margin-right: 0;
  align-self: flex-end;
}

@media (min-width: 767px) {
  .our-opinion__img {
   width:300px;
}
  .action__items {
    justify-content: space-between;
    gap: 40px;
  }

  .action__item:first-child {
    max-width: 500px; 
  }

  .action__item>.btn.btn-modal {
  font-size: 20px;
  }

  .title.action__item-title {
    font-size: 28px;
  }
}
.mob-nav-content {
 min-width:0;
 width:0;
}
.mob-nav-content.ui-active {
min-width: 17rem;
}
@media (min-width: 1024px) {
  .our-opinion__img {
   width:355px;
}
 .mob-nav-content {
  min-width:0;
  width:unset;
}
  .title.action__item-title {
    font-size: 42px;
    text-align: left;
    max-width: 850px;
    width: 100%;
  }
 	
  .action__items {
      gap: 60px;
  }

   .action__item:first-child {
    max-width: 850px;
  }
}

@media (min-width: 1200px) {
  .action__item>.btn.btn-modal {
  font-size: 25px;
  }
}

@media (min-width: 1400px) {
  .title.action__item-title {
    font-size: 54px;
  }
}

.content-container--page {
  max-width: 1100px;
  margin: 20px auto 0;
}
.reviews.single {
padding-bottom:0;
}
